
#contactMeHTML{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-box{
    background-color: rgba(185, 196, 205, 0.101);
    width: 60%;
    height: 70%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
#avatarContact{
    width: 250px;
    border-radius: 50%;
    margin-top: 13px;
    border: 3px solid rgba(255, 255, 255, 0.293);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 22px 22px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.mail-icon{
    font-size: 150px;
    text-align: center;
    background:linear-gradient(90deg, #5e89fe, #c779d0, #4bc0c8);
    background-size: 400% 400%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    
}

.contact-mail{
    font-size: 2rem;
    font-family: 'Rhodium Libre', serif;
    background:linear-gradient(90deg, #5e89fe, #c779d0, #1fdeec);
    background-size: 400% 400%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
}
.footer-nav--contact{
    color: white;
    display: flex;
    border-left: 1px solid white;
    justify-content: center;
    align-items: center;
    ul{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    } 
    li{
        margin: 15px;
        margin-left: 25px;
    }a{
        font-size: 3rem;
        color: white;
        background:linear-gradient(90deg, #feac5e, #c779d0, #4bc0c8);
        background-size: 400% 400%;
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: gradient 15s ease infinite;   
    }
    a:hover{
        background:linear-gradient(90deg, #f3943b, #b45ebe, #2ab3bd);  
        background-size: 400% 400%;
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: gradient 15s ease infinite;   
    }
}
@media (max-width: 768px) {
    .container-box{
        width: 90%;
    }
    .contact-mail{
    font-size: 1.3rem;
    }
    .footer-nav--contact{
        border: none;
        display: flex;
        ul{
            flex-direction: row;
        }
    }
}