
@media (min-width: 768px) {
    #btn-hamburger{
        display: none;
    }
    .container-nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 50px;
    }
    .nav{
        display: block;
    }
    .work-request{
        display: block;
        color: wheat;
    }
    .undeploy{
        display: flex;
        max-height: 50px;
        transition: all 0.4s;
        overflow: visible;
        li{
            a{
                color: white;
                overflow: visible;
            }
        }
    }
    // FIRST SECTION
    .profile{
        display: grid;
        
        grid-template-areas: 
        "highlights information"
        "footer footer" ;
        grid-template-columns: 1fr 4fr;  
        grid-template-rows: 90vh auto;       
    }
    .profile-highlights{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 30px;
        grid-area: highlights;
    }
    .flex-row{
        display: flex;
        flex-direction: row;
    }
    .line{
        height: 50%;
        border-bottom: 4px solid rgba(245, 245, 220, 0.5);
    animation: upDown 3s ease-in-out infinite;
    }
    .container-line{
        width: 15px;
    }
    .highlight-info{
        font-size: 20px;
        width: 130px;
        height: auto;
        background-color: transparent;
        position: relative;
        left: 0;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        border-radius: 10px ;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.329);
        color: rgba(0, 0, 0, 0.76);
        animation: upDown 3s ease-in-out infinite;
        
        
    }
    @keyframes upDown {
        0% {
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.11);
            transform: translatey(0px);
        }
        50% {
            box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.041);
            transform: translatey(-3x);
        }
        100% {
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.137);
            transform: translatey(0px);
        }
    }
    .profile-information{
        flex-direction: row;
        justify-content: flex-start;
        grid-area: information;
    }   
    .container-header{
        max-width: 650px;
        margin-left: 50px;
    }
    
    .header-title{
        font-size: 80px;
        > span{
            margin-left: 50px;
            .highlight{
                color: wheat;
            }    
        }   
    }
    .profile-conection{
        grid-area: footer;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    } 
    .container-line__conect{
        height: 45px;
        width: 1px;
        border: 0.5px solid rgb(73, 23, 73);
        background-color: rgb(73, 23, 73);
        margin-right: 2px;
    }
    // EDUCATION SECTION
    .containerSkills{
        width: 800px;}
    .languagesIcon-container{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: 1fr 1fr;
        gap: 17px;
    }
 
  
    .service-pic{
        h3{
            font-size: 5rem;
        }
    }
    #avatarComputer{
        display: block;
    }
    // PROJECTS SECTION
    #projects{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 50px;
        width: 100%;
        min-height: 130vh;
    }
    .flex-spaceAround{
        display: flex;
        height: 100%;
        justify-content:space-evenly;
        gap: 100px;
        flex-direction: column;
    }
    .project-container{
        display: flex;
        flex-direction: row;
        height: 260px;
        .project-text{
            width: 500px;
            h2{
                font-size: 2rem;
            }
        }
        .container-img{
            width: 35%;
            height: 100%;
        }
    }
    .img-proj{
       width: 100%;
       height: 100%;
    }
    .container-img:hover .img-proj{
       box-shadow: none;
        opacity: 0.5;}
    .linked-project{
        position: relative;
        display: flex ;
        justify-content: center;
        gap: 30px;
        align-items: center;
        z-index: 100;
        top: -160px;
        opacity: 1;
        z-index: 10;
        >div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap:5px;
            span{
                font-size: small;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }
        }     
        a{
            text-decoration: none;
            opacity: 1;
            z-index: 10;
            color: #f2f2f2;
        }
    }
    .container-img:hover .linked-project{
            display: flex;
        }
    
    .linked{
        width: 70px;
        transition: 0.3s;
    }
    .linked:hover{
        width: 73px;
    }
    .fa-chrome{
        font-size: 70px;
        transition: 0.3s;
    }
    .fa-chrome:hover{
        font-size: 73px;
    }
    .project-container-fm{
        grid-template-areas: 
            "img text";
        grid-template-columns: auto auto;
        .project-text{
            width: 500px;

            p{
                width: 100%;
            }
        }
        
    }
    // ABOUT ME SECTION
    #aboutMe{
        background: #03121d;
    }
    .container-aboutMe{
        display: grid;
        grid-template-areas: 
            'amBody amImg'; 
        grid-template-columns: 50% auto ;
        grid-template-rows: 90vh;
    }
    .aboutMe-pic{
        display: block;
        border-radius: 10px;
        margin-right: 20px;
        grid-area: amImg;
        background-image: url(/images/aboutMe.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        -moz-box-shadow: inset 10px 10px 50px #fff;
        -webkit-box-shadow: inset 10px 10px 50px #fff;
        box-shadow: inset 80px 1px 50px #03121d, inset -80px -1px 50px #03121d ;
    }
    // This line that i added here re not doing anything
    // fix it

    .aboutMe-title{
        display: flex;
        align-items: center;
        justify-content: center;
        h3{
        font-family: 'Rhodium Libre', serif;
        width: 70%;
        font-size: 2rem;
        }   
    }
    .aboutMe-body{
        grid-area: amBody;
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content:space-evenly;
        h3{
        font-family: 'Rhodium Libre', serif;
        width: 70%;
        font-size: 2vw;
        background-repeat: no-repeat;
        border-radius: 10px;
        background-size: 0% 100%;
        background-position-x: right;
        transition: background-size 500ms;
        }  
        h3:hover{
            background-size: 100% 100%;
            background-position-x: left;
        } 
        p{
            width: 65%;
            text-align: start;
            font-size: 1vw;
            padding: 20px;
            line-height:  1.5rem;
        }
    }
    .contactMe-body{
        .body-title{
            font-size: 6vw;
    }
}

}

@media (min-width: 768px) and (max-width: 1040px){
    .header-title{
        font-size: 40px;
    } 
    .project-container-fm{
        display: grid;
        grid-template-areas: 
            "text"
            "img";
        grid-template-columns: 100%;
        .project-text{
            display: flex;
            justify-content: center;
            width: 100%;
            align-items: center;
            flex-direction: column;
            p{
                width: 65%;
                padding-bottom: 30px;
                
            }
        }
        .container-img{
            display: flex;
            justify-content: center;
            width: 100%;
            align-items: center;
            flex-direction: column;
        }
    }  

}